## Numpy

In [1]:
import numpy as np
import pandas as pd

In [2]:
print("Hello Arpit")

Hello Arpit

In [3]:
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [16]:
L2d = [[1,2,3],[4,5,6],[7,8,9]]
arr = np.array(L2d)
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

### Array Generating Functions

In [6]:
np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [7]:
np.zeros(6)

array([0., 0., 0., 0., 0., 0.])

In [8]:
np.zeros((6,6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [9]:
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [11]:
## Linspace - Linear Spacing
np.linspace(1,10,4)

array([ 1.,  4.,  7., 10.])

### Random Generation Functions

In [12]:
np.random.rand(5) # this give normalized values , that is between 0 and 1

array([0.41206735, 0.25344835, 0.39064317, 0.90977502, 0.80414244])

In [13]:
np.random.randn(10) # this gives standarized values , that is between 3 and -3

array([-1.61639086,  1.17973954,  0.69812292, -0.06607501,  0.55352718,
       -1.34422896,  0.87669106,  0.01162612, -0.49112373, -0.55306618])

In [14]:
np.random.randint(10,20,10)

array([15, 12, 19, 16, 14, 14, 16, 16, 15, 12], dtype=int32)

### Array Attributes

go to 2D array above - after line 3 , exection number 16

In [17]:
arr.shape

(3, 3)

In [18]:
arr.size

9

In [19]:
arr.dtype

dtype('int64')

### Array methods

In [20]:
arr.min()

np.int64(1)

In [22]:
arr.sum()

np.int64(45)

In [23]:
arr.max()

np.int64(9)

In [25]:
np.sum(arr,axis=0) 
# 0 axis means y axis top to down
# 1 axis means x axis left to right

array([12, 15, 18])

In [26]:
arr.mean()

np.float64(5.0)

In [27]:
arr.std() # standard deviation

np.float64(2.581988897471611)

In [29]:
arr.argmax() # gives the index of maximum element

np.int64(8)

In [30]:
arr.argmin() # gives the index of minimum elemt

np.int64(0)

### Reshaping

In [32]:
arr2 = np.arange(1,31)
arr2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

In [33]:
arr2.reshape(6,5) # agar 5,5 dete toh it would be 25 elements , then it would cause error , so number of elements should match

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30]])

### Indexing and Slicing of Vector

What is Vectors ? Vectors are nothing but 1 dimensional objects in python {fancy names - aalo, potato, batate - same same}

In [34]:
arr = np.arange(11,21)
arr

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [35]:
arr[6] # 6th index , firse bol raha hoon 6th index and not 6th number , index counting starts with 0 , 6th index = 17

np.int64(17)

In [36]:
arr[1:5] # 1 to 5 means index number 1 se 4 tak only , last wale se ek kam tak

array([12, 13, 14, 15])

In [37]:
arr[:5] # first value by default 0 hoga

array([11, 12, 13, 14, 15])

In [38]:
arr[3:] # last value by default last index tak

array([14, 15, 16, 17, 18, 19, 20])

In [39]:
arr[:] # this means whole array

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [40]:
arr[::2] # third parameter is step value , here 2 indicates means 2-2 values chhodke

array([11, 13, 15, 17, 19])

In [41]:
arr[::3] # 3-3 values chhodke

array([11, 14, 17, 20])

### Slicing and Indexing in a Matrix - 2D - 2Dimensional

In [44]:
arr =np.arange(1,31).reshape(6,5)
arr

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30]])

In [45]:
arr[0] # this is give element at 0 index but 2D matrix mein 0 index pe ek array hai , toh it will return 1st row

array([1, 2, 3, 4, 5])

In [47]:
arr[3] # third index , means 4th row

array([16, 17, 18, 19, 20])

In [48]:
# now to get first element of the first row
arr[0,0]
# java ki tarah arr[0][0] mat kar dena üôè

np.int64(1)

In [49]:
arr[5,4] # 5th index means 6th row and 4th index means 5th colum , toh last row ka last column = 30

np.int64(30)

In [50]:
# ab agar mujhe matrix mein se 2,3 and 7,8 wala matrix slice out karna hai toh 
arr[0:2,1:3] 
# comma se pehle wala will slice out row and comma ke baad wala will slice out column

array([[2, 3],
       [7, 8]])

In [ ]:
arr[3:,3:] # iska output khud se socho kya hoga

In [55]:
# if you want 3 column only - toh kaise karenge , thoda socho
arr[:,2]
# third column pura chahiye means third column ke saare rows chahiye toh humne bas : use kiya and for 3rd column index 2

array([ 3,  8, 13, 18, 23, 28])

### Boolean indexing

In [60]:
arr = np.arange(11,21)
arr

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [58]:
bool_index = arr%2==0
bool_index

array([False,  True, False,  True, False,  True, False,  True, False,
        True])

In [61]:
arr = arr[bool_index]
arr
# this means true and false condition ke basis pe agar kuchh slice out ya operations perform karna hai toh boolean indexing
# true wale elements accept ho jaayenge and false wale reject 
# humne example mein new array mein sirf even values rakhe hai

array([12, 14, 16, 18, 20])

### Array Operations

In [63]:
a1 = np.array([1,2,3,4,5])
a2 = np.array([6,7,8,9,10])
a1,a2 # number of elements are same

(array([1, 2, 3, 4, 5]), array([ 6,  7,  8,  9, 10]))

In [67]:
print(a1 + a2) # column wise sab add kar diya - very easy
print(a1-a2)
print(a1*a2)
print(a1**a2) # this is exponention operator , 1 ki power 6 , 2 ki power 7 , 3 ki power 8

[ 7  9 11 13 15]
[-5 -5 -5 -5 -5]
[ 6 14 24 36 50]
[      1     128    6561  262144 9765625]

### Broadcasting

In [72]:
l = [10,20,30,40] 
arr = np.arange(10,41,10) # alternative syntax is np.arrange(l)
arr # 10,20,30,40

array([10, 20, 30, 40])

In [73]:
for i in l: 
    print(i+10) # add 10 elements in each item

20
30
40
50

In [74]:
arr + 10 # very easy syntax na , upar mein humne list data structure use kiya but to add 10 to every item in list is lamba process
# so we convert into array and do very simple task , issi ko broadcasting bolte hai , doing any arithmetic operation on array

array([20, 30, 40, 50])

### Deep vs Shallow Copy

In [75]:
a = np.arange(1,21)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [76]:
slice = a[:5]
slice # mene firs five elements slice out kar diya

array([1, 2, 3, 4, 5])

In [77]:
slice = slice **2 # yahan pe mene broadcasting perform ki , sabko square kar diya 
slice

array([ 1,  4,  9, 16, 25])

In [78]:
a # ab jo mene first 5 elements ko square kiya tha toh kya usse mera original array bhi modify hua? 
# nahi na issi ko kehte hai shallow copy , Deep copy means performing the operation and modifiying the original data source

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [81]:
b = a # ek mene new array banaya b naam se and usko a ke values de diya
b[0] = 99 
print(b) # now the first element of b becomes 99 , what do you think , a change hua hoga kya ?? lets see 
print(a)  # ji haan , change ho gaya , THis is Deep copy

[99  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[99  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

### Matrix Operations

In [84]:
A = np.array([[1,2],[3,4]])
B = np.array([[5,6],[7,8]])

In [85]:
A * B # this is not how matrix multiplications works

array([[ 5, 12],
       [21, 32]])

In [87]:
A @ B # this is correct matrix multiplications

array([[19, 22],
       [43, 50]])

In [89]:
np.dot(A,B) # another way of multiplying matrix

array([[19, 22],
       [43, 50]])

In [90]:
A.T

array([[1, 3],
       [2, 4]])

### Stacking of array
#### stacking means arrays ko jodna ,Example = 2 alag alag 1D arrays ko milakar single 2D array bana sakte hai na

In [91]:
a = np.array([1,2,3,4])
b = np.array([5,6,7,8])

In [92]:
np.vstack((a,b)) # this is make vertical stack , row ke niche row add karta jaaye and make 2D array

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [93]:
np.hstack((a,b)) # horizontally stack kar dega

array([1, 2, 3, 4, 5, 6, 7, 8])

In [95]:
np.column_stack((a,b)) # upar humne stack kiya toh 1D array hi bana but i want a 2D array

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]])

### Spliting of arrays

In [99]:
c = np.arange(16).reshape(4,4)
c

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [98]:
np.hsplit(c,2) # this is split array into two equal havles horizontally
np.hsplit(c,3) # this will give the because 4 columns ko 3 parts mein kaise split karoge

[array([[ 0,  1],
        [ 4,  5],
        [ 8,  9],
        [12, 13]]),
 array([[ 2,  3],
        [ 6,  7],
        [10, 11],
        [14, 15]])]

In [100]:
np.vsplit(c,2)

[array([[0, 1, 2, 3],
        [4, 5, 6, 7]]),
 array([[ 8,  9, 10, 11],
        [12, 13, 14, 15]])]